.jumbotron {
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
}

.center-block {
    width: 90%;
}

.main-white {
    color: #fff !important;
}

.main-subtext {
    font-weight: 400;
    font-size: 2.35em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    
    .fixed-image {
        height: 300px;
        width: 300px;
        padding-top: 3em;
    }

    .mision-text {
        width: 100%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .fixed-image {
        height: 250px;
        width: 250px;
        padding-top: 3em;
    }

    .mision-text {
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .fixed-image {
        height: 200px;
        width: 200px;
        padding-top: 3em;
    }

    .mision-text {
        width: 300px;
    }

    .mision-text h1 {
        font-size: 32px;
    }

    .mision-text h2 {
        font-size: 26px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .fixed-image {
        height: 150px;
        width: 150px;
        padding-top: 2em;
    }

    .mision-text {
        width: 200px;
    }

    .mision-text h1 {
        font-size: 26px;
    }

    .mision-text h2 {
        font-size: 22px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    .fixed-image {
        height: 150px;
        width: 150px;
        padding-top: 2em;
    }

    .mision-text {
        width: 100px;
    }

    .mision-text h1 {
        font-size: 22px;
    }

    .mision-text h2 {
        font-size: 18px;
    }
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.fixed-image {
    display: block;
    margin: 0 auto;
    padding-top: 5em;
}

#about {
    background: #ecf0f1;
}

#contact {
    background: #363736;
    color: #dfdfdf;
}

.mision-text {
        margin: 0 auto;
}

.mision-text h1 {
    text-align: center;
    margin: 0 auto;
    color: #0e4970;
    padding-top: 1em;
}

.mision-text h2 {
    text-align: center;
    margin: 0 auto;
    color: #1e74a1;
}

.member-button {
    border: 3px solid #1e74a1;
    background: #1e74a1;
    -ms-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    font-size: 1.5em;
}

    .member-button:link, .member-button:visited, .member-button:hover, .member-button:active {
        color: #ecf0f1;
        text-decoration: none;
    }

.hyper-link-icon {
    padding-bottom: 5px;
}

.hyper-link:link, .hyper-link:visited, .hyper-link:hover, .hyper-link:active {
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none;
}

.font-icon {
    width: 100%;
}

#contact h1 {
    padding-top: 20px;
}

.contact-container {
    padding-bottom: 40px;
    margin: 0 auto;
}

.blue-color {
    color: #2EFEC8 !important;
}

.white-color {
    color: #CEF6EC !important;
}

.custom-glyphicon {
    font-size: 3em;
    color: #0e4970;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}

.description-text {
    font-size: 2em;
    color: #1e74a1;
}

.copyright {
    padding-top: 2em;
    padding-bottom: 1em;
}

.technology-header {
    color: #0e4970;
    padding-top: 2em;
    padding-bottom: 1em;
}

.technology {
    border: 3px solid #0e4970;
    border-radius: 120px;
    font-size: 1.5em;
    color: #1e74a1;
    height: 120px;
    width: 120px;
    line-height: 100px;
    margin: 0 auto;
}

    .technology span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }


.tech-row {
    padding-bottom: 20px;
}

.min-text {
    font-size: 18px;
    line-height: 110px !important;
}

.member-row {
    padding-top: 30px;
    padding-bottom: 20px;
}

.mission-container {
    padding-bottom: 3em;
}