.jumbotron {
    background-image: url('../img/header2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    background-size: cover;
    margin-bottom: 0 !important;
}

.center-block {
    width: 90%;
}

.main-white {
    color: #fff !important;
}

.main-subtext {
    font-weight: 400;
    font-size: 2.35em;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 993px) {

     .main-header {
        font-size: 5em !important;
        padding-bottom: 0.5em;
    }

    .main-subtext {
        font-size: 2.5em;
    }

    .fixed-image {
        height: 300px;
        width: 300px;
        padding-top: 3em;
        padding-bottom: 1em;
    }

    .mision-text {
        width: 100%;
    }

    .description-text {
        font-size: 2em;
    }

    .custom-glyphicon {
        font-size: 3em;
        display: inline-block;
        padding-left: 100px;
    }

    .arrow-custom-glyphicon {
        display: none;
    }

    .tech-row {
        padding-bottom: 20px;
    }

        .tech-row div {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    .member-button {
        font-size: 2em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .fixed-image {
        height: 250px;
        width: 250px;
        padding-top: 3em;
        padding-bottom: 1em;
    }

    .mision-text {
        width: 100%;
    }

    .main-header {
        font-size: 3.5em !important;
        padding-bottom: 0.5em;
    }

    .main-subtext {
        font-size: 2.5em;
    }

    .description-text {
        font-size: 2em;
    }

    .custom-glyphicon {
        font-size: 3em;
        display: inline-block;
        padding-left: 60px;
    }

    .arrow-custom-glyphicon {
        display: none;
    }

    .tech-row {
        padding-bottom: 20px;
    }

        .tech-row div {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    .member-button {
        font-size: 2em;
    }

    .arrow-custom-glyphicon {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .fixed-image {
        height: 250px;
        width: 250px;
        padding-top: 3em;
        padding-bottom: 1em;
    }

    .main-header {
        font-size: 3em !important;
        padding-bottom: 0.5em;
    }

    .main-subtext {
        font-size: 1.8em !important;
    }

    .mision-text {
        width: 80%;
    }

        .mision-text h1 {
            font-size: 32px;
        }

        .mision-text h2 {
            font-size: 26px;
        }

    .description-text {
        font-size: 1.75em;
        text-align: center;
        width: 100%;
    }

    .custom-glyphicon {
        display: none;
    }

    .arrow-custom-glyphicon {
        font-size: 1em;
        display: inline-block;
        margin: 0 auto;
    }

    .tech-row {
        padding-bottom: 0;
    }

        .tech-row div {
            padding-top: 10px;
            padding-bottom: 10px;
        }

    .member-button {
        font-size: 2em;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .main-header {
        font-size: 3em !important;
        padding-bottom: 0.5em;
    }

    .main-subtext {
        font-size: 1.8em !important;
    }

    .fixed-image {
        height: 200px;
        width: 200px;
        padding-top: 2em;
        padding-bottom: 0.5em;
    }

    .mision-text {
        width: 80%;
    }

        .mision-text h1 {
            font-size: 26px;
        }

        .mision-text h2 {
            font-size: 22px;
        }

    .description-text {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }

    .tech-row {
        padding-bottom: 0;
    }

    .member-button {
        font-size: 1.5em;
    }

    #contact h3 {
        font-size: 18px;
    }

    .custom-glyphicon {
        display: none;
    }

    .arrow-custom-glyphicon {
        font-size: 1em;
        display: inline-block;
        margin: 0 auto;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    
    .main-header {
        font-size: 2.2em !important;
        padding-bottom: 0.5em;
    }

    .main-subtext {
        font-size: 1.3em !important;
    }
    
    .fixed-image {
        height: 150px;
        width: 150px;
        padding-top: 2em;
        padding-bottom: 0.5em;
    }

    .mision-text {
        width: 80%;
    }

        .mision-text h1 {
            font-size: 22px;
        }

        .mision-text h2 {
            font-size: 18px;
        }

    .tech-row {
        padding-bottom: 0;
    }

    .custom-glyphicon {
        display: none;
    }

    .arrow-custom-glyphicon {
        font-size: 1em;
        display: inline-block;
    }

    .description-text {
        font-size: 1.5em;
        text-align: center;
        width: 100%;
    }
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.fixed-image {
    display: block;
    margin: 0 auto;
    padding-top: 5em;
}

#home {
    text-align: center;
    height: 100%;
    width: 100%;
}

#about {
    background: #ecf0f1;
}

#contact {
    background: #363736;
    color: #dfdfdf;
}

.mision-text {
    margin: 0 auto;
}

    .mision-text h1 {
        text-align: center;
        margin: 0 auto;
        color: #0e4970;
        padding-top: 1em;
    }

    .mision-text h2 {
        text-align: center;
        margin: 0 auto;
        color: #1e74a1;
    }

.member-button {
    border: 3px solid #1e74a1;
    background: #1e74a1;
    -ms-border-radius: 50px;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
}

    .member-button:link, .member-button:visited, .member-button:hover, .member-button:active {
        color: #ecf0f1;
        text-decoration: none;
    }

.hyper-link-icon {
    padding-bottom: 5px;
}

.hyper-link {
    color: #ecf0f1;
    font-size: 18px;
    text-decoration: none;
}

.enclosed-hyper-link:link, .enclosed-hyper-link:visited, .enclosed-hyper-link:hover, .enclosed-hyper-link:active {
    color: #dfdfdf;
    text-decoration: none;
}

.font-icon {
    width: 100%;
}

#contact h1 {
    padding-top: 1.25em;
    padding-bottom: 1em;
}

#contact h3 {
    padding-bottom: 1.75em;
}

.contact-container {
    padding-bottom: 40px;
    margin: 0 auto;
}

.custom-glyphicon {
    color: #0e4970;
    vertical-align: middle;
    height: 100%;
}

.arrow-custom-glyphicon {
    color: #0e4970;
    vertical-align: middle;
    height: 100%;
}

.description-text {
    color: #1e74a1;
    margin-right: 80px;
}

.copyright {
    padding-top: 2em;
    padding-bottom: 1em;
}

.technology-header {
    color: #0e4970;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-top: 4em;
}

.technology {
    border: 3px solid #0e4970;
    border-radius: 120px;
    font-size: 1.5em;
    color: #1e74a1;
    height: 120px;
    width: 120px;
    line-height: 90px;
    margin: 0 auto;
}

    .technology span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }

.min-text {
    font-size: 18px;
    line-height: 110px !important;
}

.member-row {
    padding-top: 3em;
    padding-bottom: 3em;
}

.mission-container {
    padding-bottom: 3em;
}

.approach-header {
    padding-top: 1em;
    padding-bottom: 2em;
}

    .approach-header h1 {
        color: #0e4970;
    }

.initiative-comment {
    width: 100%;
    font-size: 1.5em;
    color: #1e74a1;
}
